::after
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.menu{
    display: block;
    text-align: left;
    background-color:  #393E46;
    margin-top: 0;
    width: 100%;
}
.menu ul{
    margin: 0px;
}
.Main{
    display: inline-block;
    padding-left: 1px;
    font-size: 20px;
}
.menutxt{
    display: inline-block;
    padding: 5px;
}
.menu a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}
.menu button{
    background-color: #393E46;
    border: none;
}
header{
    margin-bottom: 40px;
}
.nav{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.nav button{
    transition: 0.5s;
    padding:20px 20px;
    margin-right: 12px;
    cursor: pointer;
    border: 0;
    background-color: #393E46;
    color: white;
    border-radius: 50%;
    font-size: 20px;
}
.nav button:hover{
    margin-right: 20px;
    margin-left: 20px ;
}

.conteinor{
    height: 600px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin:0 auto;
}
.conteinor img{
    width: calc(33.333333% -72px);
    transition: 1s;
    width: 250px;
    border-radius: 50%;
    margin: 36px;
    line-height: 200px;
    overflow: hidden;
}

.hide{
    display: none;
}